{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="lage__container">
            <div class="lage lage--deco">
                <h2 class="lage__title">
                    Als was möchten Sie sich anmelden?
                </h2>
                <div class="lage__navigation">
                    <a href="{{ url("kunde") }}" class="main-button lage__button">Kunde</a>
                    <a href="{{ url("mitarbeiter") }}" class="main-button lage__button">Mitarbeiter</a>
                </div>
                <div class="deco_1">
                </div>
                <div class="deco_2">

                </div>
            </div>
        </div>
    </div>
{% endblock %}